<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Favorite Articles</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Daily Planet</h1>
            <hr>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/articles" class="btn btn-secondary">All Articles</a>
            <a href="/articles/new" class="btn btn-secondary">New Article</a>
            <%# <a href="/articles/search" class="btn btn-info">Search for Article</a>%>
            <a href="/about" class="btn btn-link">About</a>
            <a href="/contact" class="btn btn-link">Contact</a>
            <%- body %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/main.js">
        </script>
    </body>
</html>
