<h2 class="text-center">Add your Article here</h2>

<form class="form" action="/articles/new" method="post">
    <div class="form-group">
        <label for="title">Title</label>
            <input type="text" name="title">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
            <textarea name="content" rows="8" cols="80"></textarea>
    </div>
    <input type="submit" name="Submit" class="btn btn-success" value="Add to articles">
</form>
