<h2 class="text-center"><%= article.title %></h2>

<p>
    <%= article.content %>
</p>
</p>
<a href="/article/<%= article.id %>" class="delete-link btn btn-warning">DELETE</a><a href='/articles/edit/<%= article.id %>' class="btn btn-warning">EDIT</a>
</p>
